*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
    height: 75px;
    line-height: 75px;
    border: 2px solid blue;
    /* background-color: sienna; */
}

nav .navbar-brand{
    border: 1px solid;
    font-size: 28px;
    font-weight: 500px;
    letter-spacing: .5px;
}

nav .nav-list{
    display:flex;
}

nav .nav-list .nav-item{
    border: .5px solid red ;
    cursor: pointer;
    height: 100%;
    padding:  0 30px;
    transition: .4s;
}

nav .nav-list .nav-item:hover {
    background-color:darkkhaki ;
}

nav .nav-list .nav-link {
    color: black;
    font-size: 18px;
    font-weight: 500px;
}

@media (max-width: 935px) {
    nav{
        border: 2px solid green;
        padding: 0 2rem;
    }

    nav .nav-list .nav-item{
        border: 1px solid yellow;
        padding:0 20px ;
    }
}

@media (max-width: 675px){
    nav .nav-list{
        display: grid;
        position: absolute;
        width: 100%;
        top: 75px;
        left: 0;
        transform: translateY(-100%);
        z-index: -1;
        transition: .6s;

   }

   nav .nav-list.nav-item{
    padding-left: 35px;

   }

   nav .navbar-toggler{
    border: 1px solid slateblue;
     display: grid !important;
}
}

nav .navbar-toggler{
    border: 1px solid slateblue;
     display: none;
     height: min-content;
     margin: 18px -10px 0 0;
     cursor: pointer;

}

nav .navbar-toggler .bar{

    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: black;
    border-radius: 10%;
    transition: .4s;
}

input{
    display: none;
}

input:checked ~ nav .nav-list{
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1){
    position: absolute;
    transform: rotate(45deg) ;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2){
    
   display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3){
 
    transform: rotate(-45deg) ;
}